@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for dark mode */
html.dark ::-webkit-scrollbar {
  width: 8px;
}
html.dark ::-webkit-scrollbar-track {
  background: #161b22;
}
html.dark ::-webkit-scrollbar-thumb {
  background-color: #58a6ff;
  border-radius: 4px;
}